
<div>
    <p id="showComment"><%= comment.comment %></p> <br>
    <b> Note Created: </b> <%= comment.createdAt %><br>
    <b> Last Update: </b> <%= comment.updatedAt %>
</div>

<a id="return2" href="/favorites">&larr; Return to View Your Favorites</a>